In [1]:
import pandas as pd
import numpy as np

### Q1 ###

(a)

In [ ]:
# table name: Employee
# column name: id, Name, Salary, manager_id
# index column: id

In [ ]:
filtered_name_list = [] # it's an empty list which I will save filtered empolyee name into it
for i in range(Employee.shape[0]): 
    employee_name = Employee['Name'].iloc[i]
    employee_salary = Employee['Salary'].iloc[i]
    manager_id = Employee['manager_id'].iloc[i]
    if manager_id is np.nan: # if this employee has not immediate manager, just pass it
        pass
    else:
        manager_salary = Employee['Salary'].loc[manager_id]
        if employee_salary>manager_salary: # if employee's salary is more than manager's salary, save it into the empty list and print it
            filtered_name_list.append(employee_name)
            print(employee_name)

(b)

In [ ]:
manager_list = Employee['manager_id'].unique() # get each manager's id
filtered_salary_list = []
for i in range(Employee.shape[0]): 
    if Employee['id'].iloc[i] not in manager_list:
        salary = Employee['Salary'].iloc[i]
        filtered_salary_list.append(salary)
outcome = np.mean(filtered_salary_list)
print(outcome)

### Q2 ###

In [2]:
def namestr(obj, namespace): # define a returning variable name function
    return [name for name in namespace if namespace[name] is obj]

In [3]:
def exists(v):
    try:
        v
        return namestr(v, globals())[0] +' is defined'
    except: # in fact, we don't need this, because it will show error automatically
        return namestr(v, globals())[0] +' is not defined'

In [4]:
test = 1
exists(test)

'test is defined'

### Q3 ###

In [5]:
def to_pascal_tri(n:int):
    ans = [[1]]    
    for i in range(1,n):
        ans.append(list(map(lambda x, y : x + y, ans[-1]+[0], [0]+ans[-1])))
    for i in ans:
        print(i)

In [6]:
to_pascal_tri(5)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [7]:
to_pascal_tri(4)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

In [8]:
to_pascal_tri(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

### Q4 ###

In [9]:
import yfinance as yf

In [10]:
data = yf.download("AAPL IBM GOOG BP XOM COST GS", start="2016-01-01", end="2016-12-31")

[*********************100%***********************]  7 of 7 completed

In [11]:
daily_ret = data['Adj Close'].pct_change().dropna()
daily_ret

,AAPL,BP,COST,GOOG,GS,IBM,XOM
Date,,,,,,,
2016-01-04,0.000855,-0.006398,-0.012136,-0.022454,-0.017145,-0.012135,-0.006286
2016-01-05,-0.025059,-0.004185,0.002444,0.000998,-0.017219,-0.000735,0.008521
2016-01-06,-0.019570,-0.020369,-0.009254,0.001400,-0.024412,-0.005006,-0.008321
2016-01-07,-0.042205,-0.028713,-0.022909,-0.023170,-0.030735,-0.017090,-0.016006
2016-01-08,0.005288,-0.017669,-0.017504,-0.016410,-0.004131,-0.009258,-0.020202
...,...,...,...,...,...,...,...
2016-12-23,0.001978,0.002981,0.000062,-0.001706,0.003540,-0.002095,-0.001761
2016-12-27,0.006351,0.002431,-0.000185,0.002076,0.002448,0.002579,0.000441
2016-12-28,-0.004264,0.003772,-0.006418,-0.008212,-0.003767,-0.005684,-0.004959
2016-12-29,-0.000257,0.004027,0.000745,-0.002879,-0.010264,0.002467,0.000554
2016-12-30,-0.007796,-0.000535,-0.006330,-0.014014,0.005332,-0.003662,-0.000996

In [12]:
daily_ret['Portfolio'] = daily_ret['AAPL']*0.15 + daily_ret['IBM']*0.2 + daily_ret['GOOG']*0.2 + \
                         daily_ret['BP']*0.15 + daily_ret['XOM']*0.1 + daily_ret['COST']*0.15 + daily_ret['GS']*0.05

(a)

In [13]:
daily_ret['Portfolio'].sort_values(ascending = True)

Date
2016-06-24   -0.037800
2016-01-15   -0.028203
2016-01-07   -0.025263
2016-02-02   -0.022824
2016-09-09   -0.020811
                ...
2016-02-17    0.020818
2016-01-28    0.023157
2016-03-01    0.023482
2016-01-22    0.025474
2016-01-14    0.027103
Name: Portfolio, Length: 252, dtype: float64

In [14]:
252*0.05

12.600000000000001

In [15]:
# so we choose 12th and 13th return and use linear interpolation to calculate the 95% VaR

In [16]:
ret_12 = daily_ret['Portfolio'].sort_values(ascending = True).iloc[11]
ret_13 = daily_ret['Portfolio'].sort_values(ascending = True).iloc[12]

In [17]:
ret_12

-0.01563900280449278

In [18]:
ret_13

-0.015156076480693339

In [19]:
VaR_95 = abs(ret_13) + (13-12.6)/(13-12)*(abs(ret_12-ret_13))

In [20]:
print('95% VaR of the portfolio is ' + str(VaR_95))

95% VaR of the portfolio is 0.015349247010213115

In [38]:
SVaR_95 = abs(daily_ret['Portfolio'].sort_values(ascending = True).iloc[0:12].sum()+-1*VaR_95)/13

In [39]:
print('95% SVaR of the portfolio is ' + str(SVaR_95))

95% SVaR of the portfolio is 0.021187446167094927

(b)

In [23]:
cov = daily_ret[['AAPL','IBM','GOOG','BP','XOM','COST','GS']].cov()

In [24]:
cov

          AAPL       IBM      GOOG        BP       XOM      COST        GS
AAPL  0.000216  0.000056  0.000087  0.000079  0.000048  0.000051  0.000089
IBM   0.000056  0.000155  0.000054  0.000095  0.000065  0.000025  0.000090
GOOG  0.000087  0.000054  0.000158  0.000049  0.000030  0.000050  0.000067
BP    0.000079  0.000095  0.000049  0.000342  0.000152  0.000027  0.000168
XOM   0.000048  0.000065  0.000030  0.000152  0.000145  0.000022  0.000085
COST  0.000051  0.000025  0.000050  0.000027  0.000022  0.000123  0.000047
GS    0.000089  0.000090  0.000067  0.000168  0.000085  0.000047  0.000286

In [25]:
weight = np.array([0.15,0.2,0.2,0.15,0.1,0.15,0.05] )

In [26]:
variance = np.dot(np.dot(weight,cov),weight.T)

In [27]:
sigma = np.sqrt(variance)
sigma

0.00906184623184728

In [28]:
miu = daily_ret['Portfolio'].mean()
miu

0.0006431071726651761

In [29]:
from scipy.stats import norm

In [30]:
Z = -1.645
VaR_95 = abs(miu + Z * sigma)
SVar_95 = abs(-miu + sigma/(1-0.95)*norm.pdf(-1.645))

In [31]:
print('95% VaR of the portfolio is ' + str(VaR_95))
print('95% SVaR of the portfolio is ' + str(SVaR_95))

95% VaR of the portfolio is 0.014263629878723599
95% SVaR of the portfolio is 0.021764430857792536

(c)

In [32]:
# I will use mean-variance-efficient frontier, and choose the tangent portfolio as the optimal portfolio each month
# But in this case, we only get the realized return which cannot stand for expected return. 
# I will assume past 1 year return / 252 as next month's daily expected return
# Furthermore, I assume daily risk free rate = 0.0001

In [33]:
# to get past stock info, i need data from 2015-01-01
data_2y = yf.download("AAPL IBM GOOG BP XOM COST GS", start="2015-01-01", end="2016-12-31") 
daily_ret_2y = data_2y['Adj Close'].pct_change().dropna()

[*********************100%***********************]  7 of 7 completed

In [34]:
daily_ret_2y = daily_ret_2y[['AAPL','IBM','GOOG','BP','XOM','COST','GS']] # sort the columns in the order of the columns in the question

In [35]:
# 1 year has 252 business days and 1 month has 21 business days.
rebalance_weight_dict = {} # an empty dict for weight
sharpe_ratio_dict = {} # an empty dict for sharpe ratio
for i in range(12):
    past_1y = daily_ret_2y.iloc[i*21:252+i*21]
    expected_ret = (past_1y+1).cumprod().iloc[-1] / 252 # get the expected return of each stock, but need to diveded by 252
    cov_mat = past_1y.cov()
    # the followings are from the induction of mean-variance-efficient frontier theory
    e = np.mat(np.ones(7)).T
    R = np.mat(expected_ret).T
    V = np.mat(cov_mat)
    V_invert = np.linalg.inv(V)
    alpha = float(R.T*V_invert*e)
    zeta = float(R.T*V_invert*R)
    delta = float(e.T*V_invert*e)
    a = (zeta*V_invert*e-alpha*V_invert*R)/(zeta*delta-alpha**2)
    b = (delta*V_invert*R-alpha*V_invert*e)/(zeta*delta-alpha**2)
    Rf = 0.0001 # daily risk free rate = 0.0001
    Rtg = (alpha*Rf-zeta)/(delta*Rf-alpha) # return of tangent portfolio
    Rmv= alpha/delta
    sigma_tg = -(zeta-2*alpha*Rf+delta*Rf*Rf)**0.5/(delta*(Rf-Rmv)) # sigma of tangent portfolio
    w_tg = (Rtg-Rf)/(zeta - 2*alpha*Rf+delta*Rf*Rf)*V_invert*(R-Rf*e) # weight of tangent portfolio
    sharp_ratio = (Rtg-Rf)/sigma_tg
    sharpe_ratio_dict[i+1] = sharp_ratio # save the value into dict
    rebalance_weight_dict[i+1] = w_tg # save the value into dict

In [36]:
rebalance_weight_dict # This is the optimal portfolio of each month. The order is ['AAPL','IBM','GOOG','BP','XOM','COST','GS']

{1: matrix([[-2.93068737e-04],
         [ 1.55776666e-03],
         [ 2.25551551e-01],
         [ 3.76047753e-02],
         [ 6.24529678e-02],
         [ 7.30594568e-01],
         [-5.74685602e-02]]),
 2: matrix([[-0.10848737],
         [ 0.01522854],
         [ 0.30665441],
         [-0.04034308],
         [ 0.18911355],
         [ 0.72801323],
         [-0.09017929]]),
 3: matrix([[-0.14271285],
         [ 0.11793493],
         [ 0.176025  ],
         [-0.09246888],
         [ 0.33479257],
         [ 0.6675123 ],
         [-0.06108308]]),
 4: matrix([[-0.1132922 ],
         [ 0.1928277 ],
         [ 0.20802172],
         [-0.10736351],
         [ 0.33410073],
         [ 0.57405419],
         [-0.08834862]]),
 5: matrix([[-0.16061992],
         [ 0.10313838],
         [ 0.18074035],
         [-0.1095592 ],
         [ 0.40105854],
         [ 0.63185671],
         [-0.04661486]]),
 6: matrix([[-0.14317136],
         [ 0.15423596],
         [ 0.20903499],
         [-0.11629082],
         [ 0.43501887],
         [ 0.56004798],
         [-0.09887561]]),
 7: matrix([[-0.14959585],
         [ 0.13502397],
         [ 0.18996995],
         [-0.0744721 ],
         [ 0.44997941],
         [ 0.62827599],
         [-0.17918137]]),
 8: matrix([[-0.07096008],
         [ 0.19337608],
         [ 0.21236797],
         [-0.07064221],
         [ 0.39238256],
         [ 0.53609116],
         [-0.19261547]]),
 9: matrix([[-0.02429169],
         [ 0.14480958],
         [ 0.24827755],
         [-0.08852772],
         [ 0.42085725],
         [ 0.41898828],
         [-0.12011325]]),
 10: matrix([[ 0.03118678],
         [ 0.17318399],
         [ 0.2882932 ],
         [-0.03024725],
         [ 0.35750717],
         [ 0.33263969],
         [-0.15256359]]),
 11: matrix([[ 0.02448274],
         [ 0.28895766],
         [ 0.26307448],
         [-0.02474496],
         [ 0.26054315],
         [ 0.28479968],
         [-0.09711276]]),
 12: matrix([[ 0.01382066],
         [ 0.28614851],
         [ 0.15744039],
         [-0.07386617],
         [ 0.32394889],
         [ 0.29886944],
         [-0.00636172]])}

In [37]:
sharpe_ratio_dict #this is the monthly sharpe ratio of my portfolio

{1: 0.4420164049927857,
 2: 0.4007684412360026,
 3: 0.3891841054361688,
 4: 0.4147740459460582,
 5: 0.4039934287377625,
 6: 0.41851099109718826,
 7: 0.4499037633696586,
 8: 0.44977348724382443,
 9: 0.5445735444303191,
 10: 0.522353612466927,
 11: 0.4747312346388312,
 12: 0.4865435549009648}

### Q5 ###

(a)

In [ ]:
import os
path = 'my-python-project'
dirs = os.listdir(path)
count = 0 
for file in dirs:
    if file.endswith('.py'): # only regard file ends with '.py' as python file
        count += 1
print(count)

(b)

In [ ]:
comment_list = [] # an empty list, this list will show how many comment lines in each file
code_list = [] # an empty list, this list will show how many code lines in each file
for file in dirs:
    file_path = path + file
    text = open(file_path,'r')
    text_lines = text.readlines()
    total_line = len(text_lines)
    count_empty_line = 0
    for line in text_lines: # count the empty line
        if line == '\n':
            count_empty_line += 1
    line_wo_empty = total_line - count_empty_line
    comment_line = 0
    for line in text_lines: # count the comment line
        if line.startswith('#'):
            comment_line += 1
    code_line = line_wo_empty - comment_line
    comment_list.append(comment_line)
    code_list.append(code_line)
print('comment lines in each file is ',comment_list,'.','\nTotal comment lines in the fold is ',sum(comment_list),'.')
print('code lines in each file is ',code_list,'.','\nTotal code lines in the fold is ',sum(code_list),'.')

(c)

In [ ]:
func_list = []
for file in dirs:
    file_path = path + file
    text = open(file_path,'r')
    text_lines = text.readlines()    
    func_line = 0
    for line in text_lines:
        if line.startswith('def '):
            func_line += 1
    func_list.append(func_line)
print('function defined in each file is ',func_list,'.','\nTotal function defined in the fold is ',sum(func_list),'.')

（d）

In [ ]:
# I am not familiar with this part. I searched online, and I found gitpython can solve this problem. 
for file in dirs:
    file_path = path + file
    text = open(file_path,'r')
    text_lines = text.readlines() 
    change_line = 0
    for line in text_lines:
        if...:  # Here should be if... to find whether it is change against HEAD~3
            change_line += 1
print('Here is ' + str(change_line) + ' lines of changes from the current version against HEAD~3')

（e）

In [ ]:
from os.path import join, getsize
path = 'my-python-project'
folder_size = 0
for root, dirs, files in os.walk(path):
    file_sum = sum([getsize(join(root, name)) for name in files]) # sum the sizes of all the files in the subfolder
    folder_size += file_sum
    print('The size of subfolder ', root, 'is ',file_sum)

print('The total size of the folder is ', folder_size)

### Q6 ###

In [ ]:
#method 1 datafinder will find date automatically, it is convenient to use this library
import datefinder
text = open(text_path,'r')
text_content = text.read()
dates = datefinder.find_dates(text_content)
date_count = 0
for date in dates:
    date_count += 1
print('There are ' + str(date_count) + ' in this text.')

In [ ]:
#method 2 re library can find certain patterns from text
import re
text = open(text_path,'r')
text_content = text.read()
pattern_1 = r'\d{4}/\d{2}/\d{2}'
pattern_2 = r'\d{2}/\d{2}/\d{4}'
pattern_3 = r'\d{2}Jan\d{4}|\d{2}Feb\d{4}|\d{2}Mar\d{4}|\d{2}Apr\d{4}|\d{2}May\d{4}|\d{2}Jun\d{4}|\d{2}Jul\d{4}|\d{2}Aug\d{4}|\d{2}Sep\d{4}|\d{2}Oct\d{4}|\d{2}Nov\d{4}|\d{2}Dec\d{4}'
date_1 = re.findall(pattern_1,text_content)
date_2 = re.findall(pattern_2,text_content)
date_3 = re.findall(pattern_3,text_content)
total_date = len(date_1) + len(date_2) + len(date_3)
print('There are ' + str(total_date) + ' in this text.')